* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: burlywood;
}

/* HEADER SECTION */
header {
  width: 100%;
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 20px;

}

nav ul li {
  list-style: none;
  font-size: 17px;
  font-weight: bold;
}

#search {
  position: relative;
}

#search input {
  height: 28px;
  padding-left: .5rem;
}

#search i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* MAIN SECTION */

form {
  background-color: whitesmoke;
  width: 25%;
  padding: 20px;
  margin: 10% auto 0px auto;
  border-radius: 10px;
}

form h2 {
  text-align: center;
}

form input {
  background: transparent;
  margin-top: 0.5rem;
  padding-left: 27px;
  height: 30px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}

.usr {
  position: relative;
  margin: 10px 0px;
}

.usr i {
  position: absolute;
  left: 0;
  top: 75%;
  transform: translateY(-50%);
  /* padding: 3px; */
  /* background-color: gainsboro; */
}

.pswd {
  position: relative;
}

.pswd i {
  /* background-color: gainsboro; */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

}

.pswd a {
  padding-top: 6px;
  text-decoration: none;
  margin-left: 63%;
}

button {
  width: 100%;
  margin: 15px 0;
  text-align: center;
  padding: 7px;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
}

.signup {
  width: 100%;
  text-align: center;
}

.singup a {
  display: block;
  margin-top: 15px;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
}

.login-method {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}